:root {
	--sl-content-width: 70rem;
}

.sl-markdown-content :is(img, picture, video, canvas, svg, iframe):not(:where(.not-content *)) {
	display: block;
	max-width: 80%;
	max-height: 80%;
	height: auto;
}
