---
type Props = {
	url: string;
};
const { url } = Astro.props as Props;
---
<div class="light-x-embed">
    <blockquote class="twitter-tweet"><a href={url}></a></blockquote>
</div>
<div class="dark-x-embed">
    <blockquote data-theme="dark" class="twitter-tweet"><a href={url}></a></blockquote>
</div>

<script async is:inline src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<style is:global>
    :root[data-theme='light'] {
        div.light-x-embed {
            display: block;
        }
        div.dark-x-embed {
            display: none;
        }
    }
    :root[data-theme='dark'] {
        div.dark-x-embed {
            display: block;
        }
        div.light-x-embed {
            display: none;
        }
    }
</style>
